@import 'mixins';
@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    margin: 30px;
    background-color: #f4f4f4;
    font-family: $font;
    font-size: $paragraphe;
    @include center(center);

    @include mobile {
        margin: 10px;
    }
}

.container {
    width: 1000px;

    @include mobile {
        width: 100%;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2em;
    height: 700px;

    @include mobile {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(100px, 1fr);
    }
}

.grid>li {
    border-radius: 10px;

    @include mobile {
        grid-area: auto;
    }

}

.grid-1 {
    padding: 50px 40px;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: $yellow-100;
    font-size: 3em;
    @include grid-font-basis;
    @include center(center);

    @include mobile {
        order: 7;
    }

    em {
        color: $purple-500;
    }

    img {
        margin-top: 20px;
    }

}

.grid-2 {
    @include p-30;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: $purple-500;
    color: $white;
    font-weight: $weight-500;
    @include center(center);

    @include mobile {
        order: 1;
    }

    text-align: center;

    h3 {
        font-size: 6em;
        line-height: 0.9;
        font-weight: $weight-500;

        strong {
            color: $yellow-500;
            font-weight: $weight-400;
        }
    }

    img {
        width: 35%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    span {
        font-size: 1.5em;
        color: $white;
        opacity: 0.8;
    }
}

.grid-3 {
    padding: 20px 0 20px 50px;
    overflow: hidden;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 8;
    background-color: $purple-100;
    line-height: 0.9;
    letter-spacing: 0;
    @include center(space-evenly);

    @include mobile {
        order: 4;
        padding: 30px;
        text-align: center;
        gap: 20px;
    }


    h3 {
        font-size: 1.5rem;
        font-weight: $weight-500;
        padding-right: 30px;
    }

    span {
        font-size: 1rem;
        font-weight: $weight-400;
        line-height: 1.1;
        padding-right: 30px;
    }

    img {
        width: 100%;
        height: 55%;
        object-fit: cover;
        object-position: left;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        @include mobile {
            border-radius: 20px;
            height: 70%;

        }
    }
}

.grid-4 {
    padding: 50px 10px;
    grid-row-start: 6;
    grid-row-end: 11;
    background-color: $yellow-500;
    font-size: 3em;
    @include grid-font-basis;
    @include center(center);

    @include mobile {
        order: 8;
    }

    span {
        padding: 0 30px;
    }

    img {
        width: 80%;
        margin-top: 30px;
    }
}

.grid-5 {
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 8;
    background-color: $white;
    @include grid-font-basis;
    @include center(center);

    @include mobile {
        order: 2;
    }

    img {
        width: 100%;
        height: 70px;
        margin-left: 50px;
        display: flex;
        object-fit: cover;
        object-position: left;
    }

    span {
        font-size: 2.4em;
        font-weight: $weight-500;
        line-height: 0.9;
        letter-spacing: 0;
        padding: 10px 90px 10px 20px;

        @include mobile {
            padding: 10px 10px 10px 20px;
        }
    }
}

.grid-6 {
    overflow: hidden;
    @include p-30;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 8;
    background-color: $yellow-500;
    font-size: 2.5em;

    @include grid-font-basis;
    @include center(center);

    @include mobile {
        order: 3;
        padding-bottom: 0;
    }


    span {
        padding-right: 20px;
        margin-top: 70px;

        @include mobile {
            margin-top: 10px;
        }
    }

    img {
        margin-top: 10px;

        @include mobile {
            margin-top: 30px;
        }
    }

}

.grid-7 {
    @include p-30;
    grid-row-start: 8;
    grid-row-end: 11;
    background-color: $white;
    @include center(center);
    text-align: center;

    @include mobile {
        order: 6;
    }

    h3 {
        font-size: 6em;
        font-weight: $weight-400;
    }

    span {
        font-size: 1.6em;
        opacity: 0.8;
        margin: 0 0 20px 0;
    }

    img {
        width: 70%;
    }

}

.grid-8 {
    @include p-30;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 11;
    background-color: $purple-500;
    font-size: 2rem;
    color: $white;
    @include grid-font-basis;
    @include center(center);

    @include mobile {
        text-align: center;
        order: 5;
        flex-direction: column !important;
    }

    flex-direction: row;

    img {
        width: 40%;

        @include mobile {
            width: 80%;
        }
    }

    span {
        padding: 20px;
    }

}