@mixin mobile {
    @media screen and (max-width:576px) {
        @content
    }
}

@mixin center($justify-content) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
    flex-direction: column;
}


@mixin grid-font-basis {
    font-weight: $weight-500;
    line-height: 0.9;
    letter-spacing: 0;
}

@mixin p-30 {
    padding: 20px;
}